@import "http://fonts.googleapis.com/css?family=Abel:400.css";
@import "partials/mixins";
@import "partials/settings";
@import "partials/foundation";
@import "foundation/components/buttons";
@import "foundation/components/forms";

body{
  background-color: $steel;
  font-family: 'Abel', sans-serif;
}

form.toDoForm{
  display: inline;
}

form.new_item_form{
  background-color: blue;
}

form.edit_item_form{
  background-color: pink;
}

.completed .title{
  text-decoration: line-through;
}

#container{
  background-color: blue;
  width: 400px;
  margin: auto;
}

header{
  width: 400px;
  margin: auto;
  background-color: $beige;
}

.header_container{
  float: left;
  width: 50%;
}

h1{
  font-size: 30px;
  float: left;
  margin-left: 25px;
  color: $orange_text;
  text-transform: uppercase;
}

.new_item_container{
  float: left;
  width: 50%;
  margin-top: 15px;
}

a.new_item_link{
  height: 30px;
  width: 100px;
  padding: 5px 10px;
  background-color: $orange_button;
  color: $beige_text;
  text-align: center;
  border-radius: 3px;
  margin-left: 90px;
}


span.title{
  height: 20px;
  width: 70%;
  margin-left: 15px;
  background-color: purple;  
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.description{
  height: 20px;
  width: 70%;
  background-color: orange;
  margin-left: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

button{
  float: right;
  width: 10%;
  margin-bottom: 5px;
  font-size: 20px;
  background-color: transparent;
  border: none !important;
}

#checkbox1{
  background-color: red;
}

.itemsCompleted{
  background-color: pink;
  float: left;
}

.itemsLeft{
  background-color: aqua;
  float: left;
}


ul{
  display: block;
  background-color: red;
  overflow: auto;
  margin-left: 0;
}

ul li{
  list-style-type: none;
  border-bottom: 1px solid $grey_line;
}

li.list{
  background-color: blue;
  height: 75px;
}

a{
  text-decoration: none;
  color: $grey_text;
}

.footer_container{
  height: 50px;
  width: 400px;
  background-color: pink;
  margin: auto;
}