@import "http://fonts.googleapis.com/css?family=Abel:400.css";
// @import "partials/mixins";
@import "partials/settings";
@import "partials/foundation";

body{
  background-image: url(/images/zwartevilt.png);
  font-family: 'Abel', sans-serif;
}

fieldset{
  margin: 0;
}
form.toDoForm{
  display: inline;
}

form.new_item_form,
form.edit_item_form{
  background-image: url(/images/sos.png);
  // background-color: $beige;
  width: 400px;
  margin: auto;
}

input.edit_item_input,
input.new_item_input{
  background-image: url(/images/sos.png);
  // background-color: $beige;
  color: $orange_text;
  font-size: 20px;
  width: 356px;
  margin: auto;
  border: solid 1px $grey_line;
}

input.edit_item_submit,
input.new_item_submit{
  font-size: 12px;
  height: 30px;
  width: 100px;
  margin-top: 10px;
  background-color: $orange_text;
  border: none;
  color: $beige;
  border-radius: 3px;
}
input.edit_item_submit:hover,
input.new_item_submit:hover{
  background-color: $orange_button;
  color: $beige;
}

textarea.edit_item_textarea,
textarea.new_item_textarea{
  // background-color: $beige;
  background-image: url(/images/sos.png);
  width: 356px;
  color: $grey_text;
  font-size: 20px;
  margin: auto;
  margin-top: 15px;
  height: 200px;
  border: solid 1px $grey_line;
}
a.aTitle{
  color: $orange_text;
  font-size: 20px;
  width: 200px;
  text-shadow: 0px 2px 3px #FFFFFF;
}

li.list input[type=checkbox]{
  display: none;
  vertical-align: top;
}

span.fakeCheckbox{
  height: 27px;
  width: 27px;
  border: solid 1px $grey_line;
  display: inline-block;
  vertical-align: top;
  padding-left: 6px;
  padding-top: 4px;
  margin-top: 30px;
  color: $orange_button;
  background-color: #FFFFFF;
  box-shadow:
    rgba(0,0,0,0.2)
    2px 2px
    inset
  text-shadow: 0px 1px 2px #FFFFFF;
}


.completed .title a{
  text-decoration: line-through;
  text-decoration-color: $grey_text;
  color: $grey_text;
}

#container{
  width: 400px;
  margin: auto;
}

header{
  width: 400px;
  margin: auto;
  height: 60px;
  background-image: url(/images/seamless_paper_texture.png);
  border-bottom: 1px solid $grey_line;
}

a.titleLink{
  font-size: 30px;
  float: left;
  margin-left: 10px;
  color: $orange_text;
  margin-top: 1px;
  letter-spacing: -1.5px;
  text-shadow: 0px 1px 2px #FFF;
}

p{
  margin-bottom: 0;
}

.headerContainer{
  float: left;
  width: 20%;
  margin-left: 5px;
  margin-top: 5px;
}

.counterContainer{
  width: 45%;
  float: left;
  margin-left: 2px;
  margin-top: 20px;
}

.itemsCompleted{
  float: left;
  height: 20px;
  color: $grey_text;
  text-shadow: 0px 1px 2px #FFF;  
}

.itemsLeft{
  float: left;
  height: 20px;
  color: $orange_text;
  text-shadow: 0px 1px 2px #FFF;
}

.newItemContainer{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding: 5px 10px;
  background-color: $orange_button;
  text-align: center;
  border-radius: 3px;
  margin-left: 15px;
}

.newItemContainer:hover{
  background-color: $orange_text;
}

a.newItemLink{
  color: $beige_text;
}

.checkbox{
  margin-left: 15px;
  display: block;
  flex: none;
  width: 400px;
}

span.title{
  width: 200px;
  flex: 1;
  margin-left: 15px;
  margin-top: 25px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.description{
  width: 300px;
  color: $grey_text;
  margin-left: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

button{
  float: right;
  width: 20px;
  height: 40px;
  flex: none;
  margin-right: 15px;
  font-size: 25px;
  background-color: transparent;
  border: none !important;
  color: $grey_text;
  text-shadow: 0px 3px 4px #FFF;
}

button:hover{
  background-color: transparent;
  color: $orange_text;
}


ul{
  display: block;
  margin-left: 0;
  margin-bottom: 0;
}

ul li{
  list-style-type: none;
  border-bottom: 1px solid $grey_line;
}

li.list{
  background-image: url(/images/sos.png);
  // background-color: $beige;
}

a{
  text-decoration: none;
}

.footer_container{
  height: 50px;
  width: 400px;
  background-image: url(/images/seamless_paper_texture.png);
  margin: auto;
}

p.footer{
  text-align: center;
  color: $grey_text;
  padding-top: 10px;
  text-shadow: 0px 1px 2px #FFF;
}