doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  h1 Edit Item
  form(action="")
    fieldset
      div
        input(type="text", placeholder="Title")
      div
        textarea(type="text", placeholder="Box")
      div
        input(type="submit", value="Submit")