extends ./layout.jade

block title 
  title Edit Item
block content
  h1 Edit Item
  form(action="", method="POST")
    fieldset
      div
        input(type="text", placeholder="Title")
      div
        textarea(type="text", placeholder="Box")
      div
        input(type="submit", value="Submit")
