extends ./layout.jade

block title 
  title Edit Item
block content
  form(action="/edit_item/#{todo._id}?_method=PUT", method="POST", class="edit_item_form")
    fieldset
      div
        input(type="text", name="title", value="#{todo.title}")
      div
        textarea(type="text", name="description")
          =todo.description
      div
        input(type="submit", value="Submit")
