extends ./layout.jade
block content
  #container
    for list in userlist
      p= list
      ul#toDoList
        li.item
          input(type="checkbox" )
          //- span.title= item.title
          h3= list.title
          p= list.description
          //- command shift right
          button X

  h1 to do list
  a(href="/new_item") New Item Page
  a(href="/edit_item") Edit Item Page
