doctype
html
  head
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.10.2.min.js')
    link(href='styles/styles.css', rel='stylesheet', media='screen')
    title to do list page
  body
    h1 to do list
    a(href="/new_item") New Item Page
    a(href="/edit_item") Edit Item Page
