doctype
html
  head
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.10.2.min.js')
    link(href='styles/styles.css', rel='stylesheet', media='screen')
    title to do list page
  body
    #container
      ul#toDoList
        li
          input(type="checkbox") 
          h3 Title of to do
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, illum, ad. Explicabo omnis, ipsam nemo illo doloribus, necessitatibus ducimus sapiente iure harum dolor officiis officia! Quas, unde consequuntur? Neque, tenetur!
          button X

    h1 to do list
    a(href="/new_item") New Item Page
    a(href="/edit_item") Edit Item Page
