doctype
html
  head
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.10.2.min.js')
    link(href='styles/styles.css', rel='stylesheet', media='screen')
    block title  
      title To Do
  body
    h1 layout

    block content