extends ./layout.jade

block title
  title New Item
block content
  form(action="/new_item", method="POST", class="new_item_form")
    fieldset
      div
        input(type="text", name="title", placeholder="Title")
      div
        textarea(type="text", name="description", placeholder="Box")
      div
        input(type="submit", value="Submit")