extends ./layout.jade

block title
  title New Item
block content
  form(action="/new_item", method="POST", class="new_item_form")
    fieldset
      div
        input(type="text", name="title", placeholder="Title", class="new_item_input")
      div
        textarea(type="text", name="description", placeholder="Box", class="new_item_textarea")
      div
        input(type="submit", value="Submit", class="new_item_submit")